.slider {
  position: relative;
  height: 100%;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  opacity: 0;
  width: 40rem;
  transition: opacity 1s ease-in-out;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}

.slider img.active {
  opacity: 1;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}

.image {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}

@media screen and (max-width: 768px) {
  .slider img {
    position: absolute;
    top: 300px;
    left: 0;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
  }

  .slider img.active {
    opacity: 1;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .slider {
    height: 1000px;
  }

  .slider img {
    position: absolute;
    top: 500px;
    left: 0;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
  }

  .slider img.active {
    opacity: 1;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
  }
}
